﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма оформления покупки</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.BookId" name="BookId"/>
        
        <table>
            <tr>
                <td>Имя:</td>
                <td><input type="text" name="Person"/></td>
            </tr>
            <tr>
                <td>Адрес:</td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" /></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
