﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Распродажа книг</h3>
        
    <table>
        <tr class="header">
            <th>Название книги</th>
            <th>Автор</th>
            <th>Цена</th>       
        </tr>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.Author</td>
                <td>@b.Price</td>
                <td><a href="/Home/Buy/@b.Id">Купить</a>
            </tr>
        }
    </table>
</div>
