﻿body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left:40px;
}
  
nav{
    display: block;
}
  
.menu {
    padding-left:10px;
}

.menu ul {
    list-style:none;
}

.menu li {
    display:inline;
}

.menu a:hover {
    color:red;
}

table {
    vertical-align:middle;
    text-align:left;
}

.header {
    font-weight:bold;
}

td {
    padding-right:10px;
}

input {
    width: 150px;
}